.footer{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container{
    display: flex;
    align-items: baseline;
}
.footer__address{
    flex-grow: 1;
    }
.footer__logo{
    font-family: Raleway,sans-serif;
    color: var(--accent-color-text);
    background-color: var(--background-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    
    transition: color 250ms var(--bezier-timing);
    &:hover,
    &:focus{
    color: var(--accent-color);
}
}
.footer__web{
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    transition: color 250ms var(--bezier-timing);
}
.footer__studio{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-address__list{
    margin-top: 20px;
}
.footer-address__address {
    margin-top: 20px;
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    transition: color 250ms var(--bezier-timing);
     &:hover,
     &:focus{
    color: var(--accent-color);
  }
  }
.footer-address__contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    transition: color 250ms var(--bezier-timing);

    &:hover,
    &:focus{
     color: var(--accent-color);
  }
  }
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
  }
.footer-address__item{
      margin-bottom: 9px;
      &:last-child{
        margin-bottom: 0;
    }
  }
.footer__title{
      color: var(--accent-color-text);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
  } 
.footer-item{
    margin-top: 9px;
}
