:root{
    --text-color:#757575;
    --titles-text-color-first: #212121;
    --accent-color: #2196F3;
    --accent-color-text: #FFFFFF;
    --background-color: #2f303a;
    --background-color-modal: #188ce8;
    --logo-color: #000000;
    --backing-color: #f5f4fa;
    --header-color: #ececec;
    --portfolio-color: #e5e5e5;
    --clients-color:#afb1b8;
    --accent-color-sec: #1a72b9;
    --bezier-timing:cubic-bezier(0.4, 0, 0.2, 1);
    /* --card-set-gap: 30px */

    /* первый цвет фона : #E5E5E5; */
    /* вторичный цвет фона : #F5F4FA; */
    /* цвет фона кнопок портфолио : #F5F4FA; */
    /* цвет основного текста color: #212121; */
    /* вторичный цвет #757575; */
    /* цвет акцент #2196F3; */
}